# Python
__pycache__/
*.pyc
*.pyo

# Poetry
.poetry/
*.egg-info/

# Virtual Envs
.venv/
env/
venv/

# Flask & Logs
instance/
*.log

# Docker
*.tar
*.pid

# VS Code / IDEs
.vscode/
.idea/

*.env
*/dist
*/migrations